<h2 xmlns="http://www.w3.org/1999/html"> Record your new Condition </h2>
<style>
    div.form{
        position: relative;
        text-align: left;
    }
</style>

<%= form_tag("/conditions", method: "post") do %>
    <!--<label for="Diabetes">-->
      <!--<label class="alignleft">Diabetes</label>-->
      <!--<input type="radio" id="yes" name="diabetes-yes" value="yes">Yes-->
      <!--<input type="radio" id="no" name="diabetes-no" value="yes">No-->
    <!--</label>-->

    <div class="form">
        <text align="left" style="color:black; font-size:20px;">Diabetes:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
        <input type="radio" name="diabetes" value="yes"><text style="color:black; font-size:18px; text-align:left;">Yes&nbsp;&nbsp;</text>
        <input type="radio" name="diabetes" value="no" checked><text style="color:black; font-size:18px; text-align:left;">No</text>
    </div>
    <%= submit_tag("Submit") %>
    </form>
<% end %>
