<div class="landing-head">

	<div class="container">
<h2> Record Conditions </h2><br>
<style>
    div.form{
        position: relative;
        text-align: left;
    }
</style>

<%= form_tag("/conditions", method: "post") do %>

    <div class="form">
      <li>
        <text align="left" style="color:black"><strong>Diabetes Type 1:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></text>
        <input type="radio" name="diabetes" value="yes"><text style="color:black; text-align:left;">&nbsp;Yes&nbsp;&nbsp;</text>
        <input type="radio" name="diabetes" value="no" checked><text style="color:black; text-align:left;">&nbsp;No</text>
      </li>
      <li>
        <text align="left" style="color:black"><strong>Diabetes Type 2:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></text>
        <input type="radio" name="diabetesT2" value="yes"><text style="color:black; text-align:left;">&nbsp;Yes&nbsp;&nbsp;</text>
        <input type="radio" name="diabetesT2" value="no" checked><text style="color:black; text-align:left;">&nbsp;No</text>
      </li>
      <li>
        <text align="left" style="color:black"><strong>Hypertension:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></text>
        <input type="radio" name="hypertension" value="yes"><text style="color:black; text-align:left;">&nbsp;Yes&nbsp;&nbsp;</text>
        <input type="radio" name="hypertension" value="no" checked><text style="color:black; text-align:left;">&nbsp;No</text>
      </li>
      <li>
        <text align="left" style="color:black"><strong>Rheumatoid arthritis:;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></text>
        <input type="radio" name="arthritis" value="yes"><text style="color:black; text-align:left;">&nbsp;Yes&nbsp;&nbsp;</text>
        <input type="radio" name="arthritis" value="no" checked><text style="color:black; text-align:left;">&nbsp;No</text>
      </li>
      <li>
        <text align="left" style="color:black"><strong>Coronary arteriosclerosis:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></text>
        <input type="radio" name="coronary" value="yes"><text style="color:black; text-align:left;">&nbsp;Yes&nbsp;&nbsp;</text>
        <input type="radio" name="coronary" value="no" checked><text style="color:black; text-align:left;">&nbsp;No</text>
      </li>
    </div>
    <br>
        <div class="actions">
    <%= button_tag("Submit", class:"secondary large") %>
    </div>
    </form>
<% end %>

	</div>

</div>

