<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawWeightChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawWeightChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'DataTable');
    data.addColumn('number', 'Weight');
    data.addRows(<%= raw(@weight_data.to_s) %>);

    // Set chart options
    var options = {'title':'Weight Over Time',
                   'width':800,
                   'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('weight_chart_div'));
    chart.draw(data, options);
  }

  drawWeightChart();
</script>

<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawBmiChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawBmiChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'DataTable');
    data.addColumn('number', 'BMI');
    data.addRows(<%= raw(@bmi_data.to_s) %>);

    // Set chart options
    var options = {'title':'BMI Over Time',
                   'width':800,
                   'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('bmi_chart_div'));
    chart.draw(data, options);
  }

  drawBmiChart();
</script>

<h2> Your Health Graphs </h2>

<small> *note you meed to refresh the page </small>

<div id="weight_chart_div"></div>
<br>
<div id="bmi_chart_div"></div>

<% unless @weight_data || @bmi_data %>
  <h4> We're sorry, we don't have enough info to graph for you. Please record your
    height and weight. </h4>
<% end %>
