<h2> About Us </h2>

<h4> Team Members (listed alphabetically) </h4>
<br>
<strong> Bhargavi Damodaran		</strong>| bdamodaran3		| bdamodaran@gatech.edu
<br>
<strong> Guharaman Janakiraman </strong>	| jguharaman 		| jguharaman@gmail.com
<br>
<strong> Mohit Nanda 		</strong>	| mnanda3 			| mht.nanda@gmail.com
<br>
<strong> Nate Holland 		</strong>	| nholland8			| natesholland@gatech.edu
<br>
<strong> Nebiyou Weldemeskel		</strong>| nweldemeskel3		| nebsam24@gmail.com
<br>
<strong> Purity Mugambi		</strong>	| pmugambi3		| purity@gatech.edu
<br>
