<h2> About Us </h2>

<h4> Team Members (listed alphabetically) </h4>
<br>
<ul>
	<li> <strong> Bhargavi Damodaran</strong>| bdamodaran3		| bdamodaran@gatech.edu </li>
<br>
	<li><strong> Guharaman Janakiraman </strong>| jguharaman 		| jguharaman@gmail.com</li>
<br>
	<li><strong> Mohit Nanda </strong>| mnanda3 			| mht.nanda@gmail.com</li>
<br>
	<li><strong> Nate Holland</strong>| nholland8			| natesholland@gatech.edu</li>
<br>
	<li><strong> Nebiyou Weldemeskel</strong>| nweldemeskel3		| nebsam24@gmail.com</li>
<br>
	<li><strong> Purity Mugambi	</strong>| pmugambi3		| purity@gatech.edu</li>
<br>
</ul>

