<%= image_tag "banner.jpg" %>
<br>
<div class="col-md-4" style="text-align:center;">
  <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg" style="height:32px">

  <p>Log in to your account to see your records anytime</p>

</div>
<div class="col-md-4" style="text-align:center;">
  <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg" style="height:32px">
  <p>Connect with your doctor to see key health information recorded during your visits</p>


</div>
<div class="col-md-4" style="text-align:center;">
  <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg" style="height:32px">
  <p>Access your health records anytime</p>

</div>
